.content p.category {
    margin: 15px 0 25px 0;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
}

.content p.category a {
    text-decoration: none;
}

.content p.subcategory a {
    margin: 0 14px 30px 0;
    font-size: 17px;
    font-weight: 600;
    color: #0070c9;
    text-decoration: none;
}

.content p.subcategory a.selected {
    text-decoration: underline;
}

.content p.show_minor {
    float: right;
    margin: 1px 0 0 100px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.content p.show_minor:hover {
    cursor: pointer;
}

.content div.data {
    width: 100%;
}

.content div.data div.month {
    margin: 0 0 15px 0;
    width: 100%;
    height: 35px;
    font-size: 15px;
    font-weight: 300;
    vertical-align: middle;
    line-height: 35px;
}

.content div.data div.date {
    margin: 0 15px 0 0;
    width: 70px;
    text-align: left;
}

.content div.data div.month div.versions {
    width: calc(100% - 85px);
    border-radius: 10px;
    overflow: hidden;
}

.content div.data div.month div.versions div.version {
    height: 35px;
    text-align: center;
    box-shadow: -1px 0 0 0 white;
}

.content div.data div.month div.versions div.version p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.content div.data div.month div.versions div.version div.minor_version {
    height: 35px;
    display: none;
}
