.content {
    width: 100%;
    padding: 30px 40px 20px 40px;
}

.content div.category {
    margin: 0 0 0 0;
    width: 100%;
}

.content div.category a {
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
}

.content div.subcategories {
    margin: 25px 0 0 0;
}

.content div.subcategories a {
    margin: 0 14px 0 0;
    font-size: 17px;
    font-weight: 600;
    color: #0070c9;
    text-decoration: none;
}

.content div.subcategories a.selected {
    text-decoration: underline;
}

.content div.show_major_minor {
    float: right;
    margin: 1px 0 0 0;
}

.content div.show_major_minor a {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.content div.show_major_minor a.inactive {
    color: #bbbbbb;
    cursor: default;
}

.content div.show_major_minor a.show_major {
    display: none;
}

.content div.data {
    margin: 30px 0 0 0;
    width: 100%;
}

.content div.data div.month {
    margin: 0 0 15px 0;
    width: 100%;
    height: 35px;
    font-size: 15px;
    font-weight: 300;
    vertical-align: middle;
    line-height: 35px;
}

.content div.data div.date {
    margin: 0 15px 0 0;
    width: 70px;
    text-align: left;
}

.content div.data div.month div.versions {
    width: calc(100% - 85px);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.content div.data div.month div.versions div.version {
    height: 35px;
    box-shadow: -1px 0 0 0 white;
}

.content div.data div.month div.versions div.version p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.content div.data div.month div.versions div.version div.version_minor {
    height: 35px;
    display: none;
}
