.header {
    padding: 30px 40px 20px 40px;
    width: 100%;
    height: 90px;
}

.header p.category {
    font-size: 40px;
    font-weight: 600;
}

.header p.category a {
    text-decoration: none;
}